src/main/mule/document-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="document-prc-apiFlow"
		doc:id="a61da17e-ef01-4c69-a0da-e2bb29f79b10" initialState="stopped">
		<email:listener-imap
			doc:name="On New Email - IMAP"
			doc:id="dc132fbc-061c-4c72-85db-4d2747a6f3fe" config-ref="Email_IMAP">
			<scheduling-strategy>
				<fixed-frequency frequency="${gmail.read_freq_secs}"
					timeUnit="SECONDS" />
			</scheduling-strategy>
			<email:imap-matcher
				subjectRegex="${gmail.subject}" />
		</email:listener-imap>
		<logger level="INFO" doc:name="Info Log"
			doc:id="24f21944-b6d0-4703-bf00-2f801ff0bae8"
			message='#["Start processing email into Salesforce through IDP with Subject : " ++ attributes.subject as String]' />
		<flow-ref doc:name="email-processing-subflow"
			doc:id="1ffbcf5b-68da-4fb4-8ea7-4bc3ceaa221e"
			name="email-processing-subflow" />
		<logger level="INFO" doc:name="Exit Log"
			doc:id="e675ab8d-e02a-4867-9b52-df2f11fd57db"
			message="End processing email into Salesforce through IDP" />
		<error-handler ref="global-error-handler" />
	</flow>
	<flow name="Test-flow" doc:id="47883e7a-1780-49f9-8bff-9193bc7abca2" >
		<http:listener doc:name="Listener" doc:id="192fcfb4-5866-4e48-b857-4d67a7412152" config-ref="HTTPS_Listener_config" path="/temp"/>
		<ee:transform doc:name="Transform Message" doc:id="f3bcd156-541a-4ef0-9342-4efa8ae32e8f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="client_details" ><![CDATA[{
  "client-details": {
    "client_details": {
      "name": "Panhandle Community Services, Inc.",
      "email": null,
      "fte": "127",
      "due_date": null,
      "commission": null,
      "address": {
        "street": "1309 SW 8th Ave",
        "city": "Amarillo",
        "state": "TX",
        "zip": "79101"
      },
      "carrier": {
        "name": "BCBSTX",
        "type": "Medical"
      }
    },
    "broker_details": {
      "agency_name": "Gallagher Benefit Services",
      "email": "Katherine_snodgrass@ajg.com",
      "address": {
        "street": "5312 114th Street",
        "city": "Lubbock",
        "state": "TX",
        "zip": "79424"
      }
    }
  }
}]]></ee:set-variable>
				<ee:set-variable variableName="broker_opp_details" ><![CDATA[{
  "broker-details": {
    "broker_data": {
      "name": "Katherine",
      "contact": [
        "(806) 507 3981"
      ],
      "address": {
        "street": "5312 114th Street",
        "city": "Lubbock",
        "state": "TX",
        "zip": "79424"
      },
      "email": "snodgrass@ajg.com",
      "commission": null
    }
  },
  "opportunity-data": {
    "opportunity_data": {
      "name": "Michael Kohl",
      "email": "mikekohl@curative.com",
      "contact": null,
      "received_date": "05/02/2025"
    }
  }
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="upsert-broker-client-opp-details-sf-subflow" doc:id="6abe0cee-1560-4d33-9f41-7aaee8b3f8e7" name="upsert-broker-client-opp-details-sf-subflow" target="opp_payload"/>
		<set-variable value="#[vars.opp_payload.items.payload.created[0] default true]" doc:name="oppCreatedStatus" doc:id="441069c1-dcf8-4f17-8f20-c9d8115558e2" variableName="oppCreatedStatus" />
		<ee:transform doc:name="Success Slack Message" doc:id="0c93e16d-dfd7-44ca-992d-6b84cc4802c9" >
			<ee:message >
				<ee:set-payload resource="dataweave/pSlackSuccessPayload.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Info Log" doc:id="f3e18154-01a5-4e50-ae2b-cd193aee8de0" message="#[payload]" />
		<flow-ref doc:name="slack-subflow" doc:id="66530a8d-37e6-42bc-bdb3-e56bdc030bb3" name="slack-subflow" />
	</flow>
</mule>
